head{
  background-color: #FFFAF0;
}

  body {
  font-family: Montserrat;
  height: 300px;
  background-color: #FFFAF0;
}

#title {
  background-color:#FFFAF0;
  height:900px;
}

#third{

  background-color:#696969;
  height: 100px;
  text-align: center;
}

#album{
  background-color:#FFFAF0;
  height: 50px;
}


#navbarSupportedContent{
  text-align: center;
 padding-left: 12rem;

}

#navbarSupportedContent1{
  text-align: center;
 padding-left: 110rem;

}

#list{
  background-color: #FFFAF0;
  padding: 5% 15%;
  margin-top: 0;
  margin-left: 0;
  text-align:center;
  column-count: 1;

}

#all{
  text-align: center;
  column-count: 1;
  margin-left: 3rem;
  background-color: #FFFAF0;
}


h1 {
  text-align: center;
  font-family:inherit;
  font-weight:bolder;
  background-color: #FFFAF0;
}
h2{
  font-weight: bold;
  text-align:center;
}


h3 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
text-decoration-color: #CD5C5C;
}

h4{
 font-size: 1.5rem;
 color:black;
margin-top: 0;
}

p{
  font-size: 1.5rem;
  color:black;

}

.containter{
text-align: center;
font-size: 2rem;
background-color:#FFFAF0;
}



audio{
margin-right: 150px;
}


detailed{
  margin-left: 400px;
  padding-left: 400px;
  padding-right: 0;
}

mark{

  background-color: #00FF7F;
}

.navbar {
  padding:0 0 6rem 0;
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 1rem;
  font-weight: 20px;

}

.navbar-brand {
  font-family: monospace;

  font-size: 1rem;
  font-weight: 20px;

}

.nav-item {
  padding: 0 15px;
}
.nav-link {
  font-size: 1.2rem;
}

.pic{
  margin-top: 0;
}

#new{
  background-color:  #FFFAF0;
  padding-left: 5rem;
}

#more{
  background-color:  #FFFAF0;
}

.row {
  font-family:inherit;
  display:flex;
  text-align: center;
  padding-top: 0;
  padding-bottom: 4rem;
  padding-left: 0;
  margin-top:0;
  height: 800px;
}

.container-fluid{
  background-color: #FFFAF0;
height: 200px;
padding-bottom: 0;
padding-left: 7rem;
padding-top: 0;
margin-bottom: 0;
}


#detail {
  padding: 7% 15%;
  margin-top: 15rem;
  height: 200px;
}

#carousel{
  width: 400px;
  height: 300px;
}

.pic{
  padding-left: 3rem;
}


.images{
  text-align: center;
  padding: 4% 5%;
  padding-bottom: 0 5rem 6rem 0;
  margin: 0 0 0 0;
}
