{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>
                    Cat-working --> Why us?
                </h1>
            </div>
            <li>
                We have the most comfortable working-space
            </li>
            <li>
                Here you will feel coziness just like home
            </li>
            <li>
                We have free coffee and snacks for you
            </li>
            <li>
                We have awesome,cute cats for you to feel more comfortable and reduce your stress or just relax
            </li>
            <li>
                <b>
                    In short here you can post and find events, which you or someone created. Right now, we are in beta. Good Luck!!!
                </b>   
            </li>
        </div>
    </article>
{% endblock content %}