{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>
                    Contact information
                </h1>
            </div>
            <li>
                Number of phone: <b> 8-705-333-22-66 </b>
            </li>
            <li>
                Discord server <a href="https://discord.com/"> <b> here </b> </a>
            </li>
            <li>
                Telegram group <a href="https://web.telegram.org/?legacy=1"> <b> here </b> </a>
            </li>
        </div>
    </article>
{% endblock content %}