{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>
                    Survey
                </h1>
            </div>
            <p>
                <li>
                    Welcome, below there, you can left your opinion. Don't be shy, just shine.
                </li>
                <li>
                    <a href="https://vvrq3uo5fd4.typeform.com/to/nsqfjIXv">Here</a>
                </li>
            </p>
        </div>
    </article>
{% endblock content %}